body {
    color: red;
    background-image:url("https://ih0.redbubble.net/image.23824316.7736/flat,800x800,075,f.u2.jpg");
    background-repeat: no-repeat;
    background-color: black;
    padding-left:60%;
    align:center;
}

label{
    color: grey;
}
button {
    color: white;
}
section > div {
  width: 80%;
  margin: 1rem auto;
}

form {
  margin-top: 50px;
}

dl {
  padding: 15px 10px;
}

dl > li {
  list-style: none;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

dl:nth-of-type(even) {
  background-color: WhiteSmoke;
}

@media (min-width: 700px) {
  section > div {
    width: 60%;
  }
}

@media (min-width: 900px) {
  section > div {
    float: left;
    margin: 20px 5%;
    width: 40%;
  }

  section::after {
    clear: both;
    content: "";
    display: table;
  }
}